<div class="card">
  <div class="card-header mb-3">
    <i class="fa fa-th-list"></i> College Details
  </div>
  <div class="card-body mat-elevation-z8">
    <table class="table">
      <thead>
        <tr>
          <th>Colleges Name</th>
          <th>Location Name</th>
          <th>Passcode</th>
          <th>College URL</th>
          <th>Total/Current</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dealer_item of collegeDetails">
          <th>{{dealer_item.orgName}}</th>
          <th>{{dealer_item.orgAdd}}</th>
          <th><a href="javascript:void(0)" (click)="getCurrentTokens()">Download</a> </th>
          <th><a href="javascript:void(0)" (click)="goToColURL(dealer_item.orgURLName)" target="_blank">college/{{dealer_item.orgURLName}}</a></th>
          <th>{{getTokensListCountD}}/{{getTokensListCountC}}</th>
        </tr>
      </tbody>
    </table>











  </div>


  <!--<button type="button" class="btn btn-success" (click)="upload()">Upload with method 2</button>-->