<div [@routerTransition]>
	<app-page-header [heading]="title" [icon]="'fa-th-list'"></app-page-header>


	<div class="row">
		<div class="col-sm-10">
			<form [formGroup]="orderForm" novalidate>
				<div class="row">
					<div class="col-sm-6">

						<div class="form-group">
							<label>College Name<span class="astrick-icon" [ngClass]="{'error':hasError('orgName', 'required')}">*</span></label>
							<input type="text" id="orgName" formControlName="orgName" class="form-control" required>
						</div>
					</div>

					<div class="col-sm-6">

						<div class="form-group">
							<label>College url Name<span class="astrick-icon"  [ngClass]="{'error':hasError('orgURLName', 'required')}">*</span></label>
							<input type="text" id="orgURLName" pattern="^[a-z]*$" formControlName="orgURLName" class="form-control" required>
							<mat-error *ngIf="hasError('orgURLName', 'pattern')"><span class="error f-12">No space and Number</span></mat-error>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Address<span class="astrick-icon" [ngClass]="{'error':hasError('orgAdd', 'required')}">*</span></label>
							<input matInput type="text" formControlName="orgAdd" class="form-control" required>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Phone Number<span class="astrick-icon" >*</span></label>
							<input matInput type="text" formControlName="orgPhoneNumber" class="form-control" required>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Layout</label>
							<select matInput class="form-control" formControlName="orgIDLayout">
                                <option  value="">ID Lyaout</option>
									<option  value="Landscape">Landscape</option>
									<option  value="Landscape">Protrait</option>
								</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Students Counts<span class="astrick-icon" [ngClass]="{'error':hasError('orgStdCount', 'required')}">*</span></label>
							<input matInput type="text" [attr.disabled]="isSave ? '' : null" formControlName="orgStdCount" pattern="\d*" min="1" class="form-control"
							 required>
							<mat-error *ngIf="hasError('orgStdCount', 'pattern')"><span class="error f-12">Number required</span></mat-error>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Create Students Form Fields <span class="astrick-icon" [ngClass]="{'error':hasError('orderFields', 'required')}">*</span></label>
							<div class="input-group">
								<mat-form-field class="form-control Create-form">
								 <!--<mat-label>Select Fields </mat-label>-->
									<mat-select formControlName="orderFields"  multiple (change)="selectedFields($event.value)" required>
										<mat-select-trigger>
							<!--{{orderFields.name ? orderFields.name : ''}}
							<span *ngIf="orderFields.value?.length > 1" class="example-additional-selection">
        (+{{orderFields.value.length - 1}} {{orderFields.value?.length === 2 ? 'other' : 'others'}})
      </span>-->
						</mat-select-trigger>
										<mat-option *ngFor="let topping of toppingList" [value]="topping.obj">{{topping.name}}</mat-option>
									</mat-select>
								</mat-form-field>
								<span class="input-group-addon" id="basic-addon2"><label> <a (click)="openDialog()" href="javscript:void(0);"><i class="fa fa-plus" aria-hidden="true"></i></a></label></span>
							</div>

						</div>
					</div>
					<div class="col-sm-6">
						<!--<table class="table table-bordered">
							<thead>
								<tr>
									<th>Fields Name</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>John</td>
									<td>Doe</td>
									<td>john@example.com</td>
								</tr>
								<tr>
									<td>Mary</td>
									<td>Moe</td>
									<td>mary@example.com</td>
								</tr>
								<tr>
									<td>July</td>
									<td>Dooley</td>
									<td>july@example.com</td>
								</tr>
							</tbody>
						</table>-->

					</div>

				</div>
				<div class="clearfix"></div>

				<div class="form-group">
					<button mat-button class="btn btn-primary" *ngIf="!isSave" (click)="onOrderFormSubmit(orderForm)">Create Order</button>
					<button mat-button class="btn btn-primary" *ngIf="isSave" (click)="onOrderFormUpdate(orderForm)">Update</button>
				</div>
			</form>
		</div>
	</div>

</div>